html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css")
    style body, html { height: 100%; min-height: 100%; width: 100%; } body { display: table; overflow: hidden; } center { display: table-cell; vertical-align: middle; } .title { color: #000000 !important; } @media (prefers-color-scheme: dark) { .title { color: #FFFFFF !important; } }
    title 404 | URL Shortener
  body
      center
        h1 404
        h4 That slug does not exist.