html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css")
    link(rel='stylesheet', href="./style.css")
    title Delete | URL Shortener
  body
      center
        a(href="./" style="text-decoration: none;" class="title")
          h1 URL Shortener
        br
        // Form
        if !deleted
          form(action="/delete")
            div
              input(type="text" name="slug" placeholder="enter a slug") 
              input(type="text" name="token" placeholder="enter the delete token") 
            br   
            input(type="submit" value="delete")
            br
        // Stats
        if response
          span=response